h1{
  margin: 5px 0;
  text-align: center;
}


.animation_box{
  background-color: #FFFFFF;
  margin-left: 5px;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 50vh;
  height: 50vh;
}
